#hover {
  border-bottom: 3px solid transparent;
  font-size: small;
}
#hover:hover  {
  border-bottom: 3px solid;
}

svg {
  width: 201;
  height: 53px;
}

@media screen and (min-width: 1024px) {
  svg {
    width: 325px;
    height: 83px;
  }
}

