<app-navbar></app-navbar>

<div class="container-fluid mt-3">
  <div class="bg-light border rounded-3 m-1">
    <div class="container-fluid">
      <div class="bg-white border rounded-3 m-2 p-2">
        <img src="../../../assets/img/leccion-en-linea.png" alt="" class="me-3"
          style="width: 48px;">
        <span class="text-bg-secondary rounded-5 p-2">Cursos
          <span class="bg-dark rounded-5 p-2"> {{excel.length}}</span>
        </span>
      </div>
    </div>
    <div class="container-fluid">
      <div class="bg-white border rounded-3 m-2 p-2">
        <div class="container-fluid d-flex">
          <button class="btn btn-outline-primary ms-2 rounded-circle"
            title="Añadir curso" data-bs-toggle="modal" data-bs-target="#addCourseModal" (click)="borrarDatos()">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-outline-success ms-2 rounded-circle"
            (click)="exportToExcel(excel)"
            title="Importar a Excel">
            <i class="fa fa-file-excel"></i>
          </button>
          <button class="btn btn-outline-warning ms-2 rounded-circle"
            (click)="viewProfRegisterd()"
            title="Ver profesores inscritos en el curso seleccionado">
            <i class="fa fa-eye"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="bg-white border rounded-3 m-2 p-2 text-center">
        <jqxGrid #myGrid (onCellselect)="Rowclick($event)"
          (onCellunselect)="borrarDatos()"
          [width]="'100%'" [showfilterbar]="true" [source]="courses"
          [columns]="columns" [filterable]="true" [autoheight]="true"
          [sortable]="true" [pageable]="true" [columnsresize]="true"
          [selectionmode]="'multiplecellsextended'" [showfilterrow]="true">
        </jqxGrid>
      </div>
    </div>
  </div>
  <app-modal-courses [item]="selectedItem" #myModal></app-modal-courses>
  <app-add-edit-courses #addCourseModal></app-add-edit-courses>
