<body>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="row">
      <div class="card-group">
        <div class="col-12 col-lg-6" [routerLink]="'/teachers'">
          <div class="card card3 mb-3 me-lg-5">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/img/profesor.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="m-b-20 text-decoration-underline">Profesores iMUSI</h3>
                  <p class="card-text">Sección para crear profesores. Tambien podemos visualizar, editar o eliminar profesores que esten dados de alta en el sistema.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6" [routerLink]="'/courses'">
          <div class="card card2 mb-3 ms-lg-5">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/img/leccion-en-linea.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="m-b-20  text-decoration-underline">Cursos</h3>
                  <p class="card-text">Sección para crear cursos. Tambien podemos visualizar, editar o eliminar cursos que esten dados de alta en el sistema.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card-group">
        <div class="col-12 col-lg-6" [routerLink]="'/registered-teachers'">
          <div class="card card1 mb-3 me-lg-5">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/img/franquicia.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="m-b-20  text-decoration-underline">Profesores inscritos</h3>
                  <p class="card-text">Sección donde podemos visualizar, editar o eliminar profesores que esten inscritos en los cursos dados de alta en el sistema.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6" [routerLink]="'/types-courses'">
          <div class="card card4 mb-3 ms-lg-5">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/img/curso.png" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="m-b-20  text-decoration-underline">Tipos de cursos</h3>
                  <p class="card-text">Sección donde podemos visualizar los diferentes tipos de cursos que hay dados de alta en el sistema y poder editarlos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="container">
      <div class="card-group justify-content-center">
        <div class="row">
          <div class="col-md-6 col-xl-3" routerLink="''">
            <div class="card bg-c-yellow order-card card5">
              <div class="card-block">
                <h3 class="m-b-20">Orders Received</h3>
                <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3" routerLink="''">
            <div class="card bg-c-pink order-card card6">
              <div class="card-block">
                <h3 class="m-b-20">Orders Received</h3>
                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3" routerLink="''">
            <div class="card bg-c-yellow order-card card7">
              <div class="card-block">
                <h3 class="m-b-20">Orders Received</h3>
                <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3" routerLink="''">
            <div class="card bg-c-pink order-card card8">
              <div class="card-block">
                <h3 class="m-b-20">Orders Received</h3>
                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
