
<div class="container-fluid">
  <h3>SOBRE AD LIBITUM</h3>
  <div class="row">
    <div class="col-xl-12 ">
      <h1>Compromiso, <strong class="palabra">experiencia</strong> y pasión por
        la música</h1>
      <div class="container-fluid">
        <p>Con más de XX años de experiencia en la docencia y una red de más de
          XX escuelas
          repartidas a lo largo de todo el territorio valenciano, en AD LIBITUM
          desarrollamos una
          selección de cursos impartidos por expertos en la formación musical.</p>
        <p>Fruto de nuestra experiencia, pasión por la musica y un gran equipo,
          también llevamos a
          cabo otros proyectos como la dirección de la Orquesta Sinfónica Caixa
          Ontinyent,
          la organización de talleres, Colonias y cursos de verano para niños y
          adultos.</p>
      </div>
      <button class="btn btn-dark rounded-5" id="btn_mas">
        <a href="" class="nav-link text-white fw-bold">MÁS SOBRE ADLIBITUM</a>
      </button>
    </div>
    <div class="col-xl-6" style="background-color: #F79C64;">
      <h1 class="text-black">Dirección y marketing digital para escuelas</h1>
      <p class="my-5 fs-3">Cursos dirigidos a mejorar las competencias
        necesarias para ejercer la dirección y
        gestión de escuelas de música y mejorar la captación de alumnos a través
        de las redes sociales y campañas de publicidad online.</p>
      <div class="container flex-column">
        <button class="btn btn-light">
          <a href="" class="nav-link text-dark fw-bold">Redes Sociales I</a>
        </button>
        <button class="btn btn-light">
          <a href="" class="nav-link text-dark fw-bold">Dirección, gestión y
            liderazgo de escuelas de música I</a>
        </button>
        <button class="btn btn-light">
          <a href="" class="nav-link text-dark fw-bold">Dirección, gestión y
            liderazgo de escuelas de música II</a>
        </button>
      </div>
      <button class="btn btn-dark rounded-5 px-4 py-2">
        <a href="" class="nav-link text-white fw-bold">VER TODOS LOS CURSOS</a>
      </button>
    </div>
    <div class="col-xl-6 p-0">
      <img src="../../../assets/RECURSOS WEB ADLIBITUM/IMG/ESCRITORIO/HOME/IMG
        CARRUSEL 1.jpg" alt="" class="img-fluid">
    </div>

    <div class="col-xl-6" style="background-color: #3737B8;">
      <h1 class="text-black">Metodología iMusi</h1>
      <p class="my-5 fs-3">Un método educativo progresivo y adaptado a las
        nuevas tecnologías basado
        en la experiencia AD LIBITUM. Técnicas pedagógicas musicales
        innovadoras,
        métodos pioneros de aprendizaje y programas específicos de enseñanza.
      </p>
      <button class="btn btn-dark rounded-5 px-4 py-2">
        <a href="" class="nav-link text-white fw-bold">VER TODOS LOS CURSOS</a>
      </button>
    </div>
    <div class="col-xl-6 p-0">
      <img src="../../../assets/RECURSOS WEB ADLIBITUM/IMG/ESCRITORIO/HOME/IMG
        CARRUSEL 2.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>
