.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  height: 100%;
}

.logo {
  height: 130px;
  margin-bottom: 10px;
}

.body {
  max-width: 500px;
  width: 100%;
  text-align: center;

  background-color: #f8f8f8;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);


}

a {
  text-decoration: none;
}

button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  /* La consulta de medios no se muestra aquí. */
  font-size: var(--mobile-font-size);
  font-weight: 300;
  padding: 0;
  /* Mostrar en la parte superior derecha del contenedor */
  position: absolute;
  top: 0;
  right: 0;
}
