
<div class="modal fade modal-xl " id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngStyle]="{ 'background-color': isRequired ? '#0082c8' : '#FFD200' }">
        <h5 class="modal-title text-light" id="addCourseModalLabel">{{modo}} curso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
      <div class="modal-body">
        <form class="row" #myForm="ngForm">
          <div class="mb-3 col-md-6">
            <label class="col-form-label">Titulo:</label>
            <input type="text" [(ngModel)]="course.titulo" name="titulo" class="form-control" [required]="isRequired">
          </div>
          <div class="mb-3 col-md-6 form-group" >
            <label class="col-form-label">Tipo:</label>
            <select class="form-select" [(ngModel)]="course.tipo" name="tipo">
              <option *ngFor="let type of typeCourses" [value]="type.id">{{type.nombre}}</option>
            </select>
          </div>
          <div class="mb-3 col-md-12">
            <label class="col-form-label">Sitio:</label>
            <input type="text" [(ngModel)]="course.sitio" name="sitio" class="form-control" [required]="isRequired">
          </div>
          <div class="mb-3 col-md-6">
            <label class="col-form-label">Fecha Inicio:</label>
            <input type="date" [(ngModel)]="course.fecha" name="fecha" class="form-control" [required]="isRequired">
          </div>
          <!-- <div class="mb-3 col-md-6">
            <label class="col-form-label">Fecha Fin:</label>
            <input type="date" [(ngModel)]="course.fecha" name="fecha" class="form-control" [required]="isRequired">
          </div> -->
          <div class="form-group">
            <label class="col-form-label">Notas:</label>
            <textarea class="form-control" [(ngModel)]="course.notas" name="notas" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-outline-danger" (click)="deleteCourse(course.idpresentacion)" data-bs-dismiss="modal" [hidden]="isRequired">Borrar curso</button>
        <button type="button" class="btn" [ngClass]="{ 'btn-outline-primary': isRequired, 'btn-outline-warning': !isRequired }" (click)="addCourse()" [disabled]="!myForm.valid" data-bs-dismiss="modal">{{modo}} curso</button>
      </div>
    </div>
  </div>
</div>
