<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <img src="../../../assets/RECURSOS WEB ADLIBITUM/IMG/ESCRITORIO/HOME/IMG HOME.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-xl-6" style="background-color: #B2EA99;">
      <h1 class="text-black">Formación para escuelas de música</h1>
      <p class="">Una formación especialmente creada para directores,
        gestores y docentes de musica que quieren mejorar
        sus resultados en el aula y en su negocio.</p>
      <div class="container d-flex justify-content-center">
        <button class="btn btn-dark rounded-5 px-4 py-2">
          <a href="" class="nav-link text-white fw-bold">VER TODOS LOS CURSOS</a>
        </button>
      </div>
    </div>
  </div>
</div>
