<app-navbar></app-navbar>
<div class="container-fluid mt-3">
  <div class="bg-light border rounded-3 m-1">
    <div class="container-fluid">
      <div class="bg-white border rounded-3 m-2 p-2">
        <img src="../../../assets/img/profesor.png" alt="" class="me-3"
          style="width: 48px;">
        <span class="text-bg-secondary rounded-5 p-2"> Profesores
          <span class="bg-dark rounded-5 p-2">{{excel.length}}</span>
        </span>
      </div>
    </div>

    <div class="container-fluid">
      <div class="bg-white border rounded-3 m-2 p-2">
        <div class="container-fluid d-flex">
          <button type="button" class="btn btn-outline-primary ms-2 rounded-circle" title="Añadir curso" data-bs-toggle="modal" data-bs-target="#addUserModal" (click)="borrarDatos()">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-outline-success ms-2 rounded-circle me-2" (click)="exportToExcel(teachers)" title="Exportar a Excel">
            <i class="fa fa-file-excel"></i></button>
          <button class="btn btn-outline-danger rounded-circle me-2" title="Exportar a Excel">
            <i class="fa fa-file-pdf"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="bg-white border rounded-3 m-2 p-2 text-center">
        <jqxGrid #myGrid (onCellselect)="Rowclick($event)"
        (click)="hideModal()" (onCellunselect)="borrarDatos()"
        [width]="'100%'" [showfilterbar]="true" [source]="teachers"
        [columns]="columns" [filterable]="true" [autoheight]="true"
        [sortable]="true" [pageable]="true" [columnsresize]="true"
        [selectionmode]="'multiplecellsextended'" [showfilterrow]="true">
      </jqxGrid>
      </div>
    </div>
  </div>
</div>
<app-add-edit-teachers  [item]="selectedItem" #myModal #addUserModal></app-add-edit-teachers>
