 <!-- Modal -->
<div class="modal fade modal-xl" id="myModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profesores vinculados al
          elemento con el ID : {{ item }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-responsive text-center">
          <thead>
            <tr>
              <th><button class="sortable btn btn-outline-dark w-100">ID</button></th>
              <th><button class="sortable btn btn-outline-dark w-100">Nombre</button></th>
            </thead>
            <tbody *ngFor="let registeredProf of registeredProfs">
              <tr *ngIf="item == registeredProf.presentacion" >
                <td>{{ registeredProf.idpersona }}</td>
                <td>{{ registeredProf.nombre }}</td>
              </tr>
            </tbody>
          </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
